* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-size: 16px;
	background-color: #de8a89;
}

nav {
 	margin-left: 150px;
 	margin-top: 80px;
 	overflow: hidden;
}

nav ul {
 	list-style-type: none;
 	position: relative;
 	left:70px;
}

nav ul li {
 	text-transform: uppercase;
 	display: inline-block;
}
 
nav ul li+li {
 	opacity: .5;
 	margin-left: 70px;
}

nav ul li a{
 	text-decoration: none;
 	color: white;
 	font-size: 3.6rem;
 	font-weight: bold;
}

li+li:hover {
 	opacity: .7;
}

p {
	color: white;
	margin: 0;
	line-height: 25px;
	margin-left: 260px;
}

.container {
	display: flex;
	box-shadow: 0 15px 30px 1px rgba(0, 0, 0, .4);
}

.properties {
	margin-top: 60px;
	margin-left: 155px;
	display: flex;
}

.container div {
	width: 300px;
	height: 300px;
	text-align: left;
	padding: 120px 70px;
}

.properties span {
	color: #d28f8b;
	font-size: 1.3rem;

}

.timer {
	background-color: #3e3c3d;
}

.temperature {
	background-color: #353334;
}

.load {
	background-color: #201e1f;
}

.properties h2 {
	margin: 0;
	margin-top: 10px;
	color: #ffffff;
	font-size: 1.9rem;
}

.properties button {
	width: 100px;
	height: 100px;
	outline: none;
	border: none;
	opacity: .5;
	font-size: 1.4rem;
}

.properties button:hover {
	opacity: .7;
	cursor: pointer;
}

.start {
	position: relative;
	top: -32px;
	left: 280px;
	outline: none;
	border: none;
	background-color: #131313;
	color: white;
	border-radius: 5px;
	height: 60px;
	width: 250px;
	font-size: 1.2rem;
	text-transform: uppercase;
	transition: .2s;
	letter-spacing: 1.5px;
	cursor: pointer;
}

.start:hover {
	position: relative;
	top: -37px;
}
